.parent{
    background-color:black;
    display: flex;
    /* row,row-reverse,column,column-reverse*/
    flex-direction: row;
    gap: 10px;
    /* flex-start,flex-end,center,space-between,space-evenly */
    justify-content:flex-start;
    
}
    

.child{
    height:100px;
   /* width:100px;*/ 
   flex: 1;
    background-color:aqua;
    border:2px solid brown;
    margin: 10px;
}

.demo1div{
    background-color:blueviolet;
}

.child2{
    height:100px;
   /* width:100px;*/ 
   flex: 2;
    background-color:aqua;
    border:2px solid brown;
    margin: 10px;
}



/* Animations */
button{
    background-color:black;
    color:white;
    padding: 10px;
    font-size: 20px;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana, sans-serif;
    /* Transition Properties */
   /* transition-delay:250ms;*/
    /*transition-duration:500ms;*/
    /* all */
    /*transition-property:background-color color;*/
    /* linear,ease,ease-in,ease-out,ease-in-out */
    /*transition-timing-function:ease-in-out;*/
   /* transition-timing-function: cubic-bezier(0.22, 0.75, 0.085, -0.32);;*/


   transition: all cubic-bezier(0.22, 0.75, 0.085, -0.32) 250ms 500ms;
}

button:hover{
    background-color:aqua;
    color:black
}