.box{
   background-color:black;
   height: 100vh;
   /*width: 100vw;*/
}

.ball{
    height:120px;
    width:120px;
    border-radius: 100%;
    background-color: blueviolet;
}

.ball:hover{
    animation:movetheball 5s ease-in-out forwards;
}

@keyframes movetheball{
    25%{
        transform:translate(400%,0);
        background-color:pink;
        border-radius:12%;

    }
    50%{
        transform:translate(400%,400%);
        background-color:black;
        border-radius:50%;
    }
    75%{
        transform:translate(0,400%);
        background-color:orange;
        border-radius:25%;
    }
    100%{
        transform:translate(0,0);
    }
}


/* Media Queries */
@media only screen and (max-width: 400px){
    
}